/* ContactDetail.css */

.detail-container{
    background-color: #ffffffca;
    border-top: 1.5px solid rgb(231,231,231);
}

/* Style the contact details */
.contact-details {
    padding: 20px;
    padding-left: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


/* Style the edit button */
.edit-button {
    background-color: #007bfe;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    height: 40px;
    width: 175px;
    font-weight:600;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}
/* Style the form */
.edit-form {
    margin-top: 20px;
    margin-left: 40px;
}

/* Style the form fields */
.edit-form input, email [type="text"],
.edit-form textarea {
    display: block;
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.sub-title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 50px;
}

/* Style the submit button */
.edit-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}