.app-container {
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-wrapper h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
  margin-block-start: 0px;
}

.app-wrapper {
  background: #ffffff;
}